/* extends */
.fade {
  @include transition(all 0.2s ease-in-out);
}

.hov {
  opacity: 0.8;
}

.act {
  opacity: 0.6;
}

.img {
  width: 100%;
  height: auto;

  line-height: 0;
}

/* fonts */
.base-font {
  font-family: "Ubuntu", Arial, sans-serif;
}
